a{
  text-decoration: none;
}
img{
  border: 0;
}

.body_class{
  background-color: #E4D6B2;
  margin: 0;
  background-image: asset-url("pc/bg_repeat.png");
  background-repeat: repeat-x;
}

.contain{
  width: 810px;
  position: absolute;
  left: 50%;
  margin-left: -405px;
  background-image: asset-url("pc/bg.png");
}

.header{
  margin-top: 32px;
}

.haeder_logo{
  float: left;
}

.header_term{
  float: right;
}

.content{
  margin-top: 64px;
  text-align: center;
  background-image: asset-url("pc/backimg.png");
  background-position: 0% 80%;
  background-repeat: no-repeat;
}

.content_title{
  margin-bottom: -12px;
}

.share{
  margin-top: 18px;
  margin-bottom: 24px;
}

.share_icon{
  margin-bottom: -8px;
}

.product{
  margin-left: -65px;
}

.video{
  width: 640px;
  margin-left: 85px;
  margin-bottom: 36px;
  text-align: center;
}

.video_label{
  float: left;
  margin-top: 8px;
}

.video_button{
  float: right;
  margin-bottom: 24px;
}

.close{
  float: right;
  margin: 4px;
}

#popup_info{
  display: none;
  width: 450px;
  height: 522px;
  background-image: asset-url("pc/popup/info/bg.png");
  text-align: center;
}

.myOwnClassName{
  width: 64px;
  height: 24px;
  border: 1px solid gray;
}

.info_title{
  margin-top: 8px;
}

.info_label{
  margin-top: 8px;
}

.info_birth{
  width: 369px;
  height: 103px;
  margin-left: 41px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-image: asset-url("pc/popup/info/birth_bg.png");
}

.info_other{
  width: 369px;
  margin-left: 41px;
  text-align: left;
}

.info_input_label_1{
  margin-left: 109px;
}

.info_input_label_2{
  margin-left: 78px;
}

.info_input_label_3{
  margin-left: 48px;
  margin-right: 4px;
}

.info_caution_class{
  margin-top: 6px;
}

.info_input_name{
  width: 108px;
  height: 24px;
  border-weight: 4px;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  margin-left: 12px;
  margin-bottom: 4px;
}

.info_input_call{
  width: 108px;
  height: 24px;
  border-weight: 4px;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 12px;
  margin-bottom: 4px;
}

#info_input_radio{
  weight: 24px;
  height: 24px;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
  -o-appearance: checkbox;
  margin-left: 12px;
  margin-right: 12px;
}

.to_personal{
  margin-left: 8px;
  margin-bottom: -7px;
}

.personal_caution{
  width: 400px;
  margin-left: 25px;
  height: 400px;
  resize: none;
}

#popup_personal{
  display: none;
  width: 450px;
  height: 522px;
  background-image: asset-url("pc/popup/personal/bg.png");
}

.select_style_1{
  width: 64px;
  height: 24px;
  border: 1px solid gray;
  text-align: left;
}

#popup_fin1{
  display: none;
  width: 420px;
  height: 266px;
  background-image: asset-url("pc/popup/finT/bg.png");
  text-align: center;
  padding-bottom: 24px;
}

#popup_fin2{
  display: none;
  width: 420px;
  height: 266px;
  background-image: asset-url("pc/popup/finT/bg.png");
  text-align: center;
  padding-bottom: 24px;
}

#popup_product{
  display: none;
  width: 451px;
  height: 521px;
  background-image: asset-url("pc/popup/product/bg.png");
  text-align: center;
}

.birth_label_class{
  margin-top: 8px;
  float: left;
  margin-left: 1px;
  margin-right: 1px;
}

.info_birth{

}

.select_custom_1{
  margin-left: 36px;
  margin-right: 8px;
  float: left;
}

.select_custom_2{
  margin-left: 8px;
  margin-right: 8px;
  width: 64px;
  float:left;
}

span.customSelect {
    font:12px sans-serif;
    background:#fff asset-url("pc/arrow.png") right center no-repeat;
    background-size: 18px;
    border:1px solid #ddd;
    color:#555;
    padding:4px 9px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    width:64px;
    text-align: left;
}
.customSelect.customSelectHover {
    border-color:#c7c7c7;
    background-color:#f5f5f5;
}
.customSelect.customSelectFocus {
    border-color:Orange;
}
.customSelect.customSelectOpen {
    border-color:OliveDrab;
}

span.customSelect2 {
    font:12px sans-serif;
    background:#fff asset-url("pc/arrow.png") right center no-repeat;
    background-size: 18px;
    border:1px solid #ddd;
    color:#555;
    padding:4px 9px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    width:42px;
    text-align: left;
}
.customSelect2.customSelectHover {
    border-color:#c7c7c7;
    background-color:#f5f5f5;
}
.customSelect2.customSelectFocus {
    border-color:Orange;
}
.customSelect2.customSelectOpen {
    border-color:OliveDrab;
}


.customSelect.customSelectChanged {
	-webkit-animation: changed 0.5s;
	-moz-animation: changed 0.5s;
	-ms-animation: changed 0.5s;
	animation: changed 0.5s;
}

@-webkit-keyframes changed {
	0%, 100%{
		-webkit-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50%{
		-webkit-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}

@-moz-keyframes changed {
	0%, 100%{
		-moz-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50%{
		-moz-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}

@keyframes changed {
	0%, 100%{
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50% {
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}
@-ms-keyframes changed {
	0%, 100%{
		-ms-box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50% {
		-ms-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}
.star{
  
  margin-left:2px;
  color:#aaa;
  
}

.icheckbox_minimal{
  .star{
    margin-left:25px;
  }
  
}

.popup_info_to_personal{
  margin-left:10px;
  
}
