<div class="container-close clearfix">
	<a href="javascript:history.go(-1)" class="btn_close"><%= image_tag("mobile/btn_close.png", class:"btn_close") %></a>
</div>
<pre id="terms">


개인 정보 약관 
</pre>