<div id="thanks">
  <div class="container-close clearfix">
    <a href="javascript:history.go(-1)" class="btn_close"><%= image_tag("mobile/btn_close.png", class:"btn_close") %></a>
  </div>
  <%= image_tag("mobile/text_thanks.png", class:"text_thanks") %>
  <%= link_to mobile_index_path do %>
    <%= image_tag("mobile/btn_finish.png", class:"btn_finish") %>
  <%end%>
</div>