development:
  secret_key_base: 72aa3d5bbfc586357bf3e
  apistore_key: MTAyYw==
  fb_app_id: 26396
  fb_app_secret: 1959
  naver_map_key: fbe7
  ga_tracking_id: UA-5
  url: localhost:3000
  send_phone: 08007
  page_tab_address: "https://www.faceboo2880451496"
  
staging:
  secret_key_base: 72aa3d5bbfc586357bf3e
  apistore_key: MTAyYw==
  fb_app_id: 26396
  fb_app_secret: 1959
  naver_map_key: fbe7
  ga_tracking_id: UA-5
  url: localhost:3000
  send_phone: 08007
  page_tab_address: "https://www.faceboo2880451496"

test:
  secret_key_base: dec0b394e8378d97f036ab386dee5e712d14de4cd9d5896a5d0a68cdb731f3bb9c06a45d2f06099151fcd0b3dd4f53aa54fac85ecaf82589817c52ef3dd0272d

# Do not keep production secrets in the repository,
# instead read values from the environment.

production:
  secret_key_base: 72aa3d5bbfc586357bf3e
  apistore_key: MTAyYw==
  fb_app_id: 26396
  fb_app_secret: 1959
  naver_map_key: fbe7
  ga_tracking_id: UA-5
  url: localhost:3000
  send_phone: 08007
  page_tab_address: "https://www.faceboo2880451496"
